
nav {
    background-color: green !important;
}

.icon_categories {
    vertical-align: middle !important;
    height: 25px !important;
    width: 25px !important;
}

.collapsible-header > span {
    margin-left: 1em;
    text-transform: capitalize;
}