nav {
    background-color: #008744 !important;
}

.tab {
    width: 33.3%;
}

#didattica {
    padding-top: 25px;
}

#storia {
    padding: 30px;
}

#orti {
    padding-top: 25px;
}

.titoloLogin {
    color: #008744;
    text-align: center;
}

#lblInput.active {
    color: #008744; !important
}

#inInput {
    border-bottom: 1px solid #008744; !important
    box-shadow: 0 1px 0 0 #008744; !important
}

.btnLogin {
    background-color: #008744; !important
    color: white; !important
    width: 205px; !important
}

.btnLogin:hover {
    background-color: #008744; !important
    color: white; !important
}

.btnGuest {
    background-color: white; !important
    color: black; !important
    border-color: #008744; !important
}

.btnGuest:hover {
    background-color: white; !important
    color: black; !important
    border-color: #008744; !important
}

.carousel js-flickity {
    height: 100%; !important
    vertical-align: middle; !important
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}