/*
Modifiche alla libreria Materialize.css
*/

.tab {
    width: 33.3% !important;
}

.indicator {
    display: none !important;
}

/*
Altro css
*/

.bottom-nav {
    bottom: 0 !important;
    position: fixed !important;
    background-color: #008744 !important;
}

.top-nav {
    height: 56px !important;
    background-color: #008744 !important;   
    box-shadow: none !important;
}

.under-nav {
    height: 30px !important;
    background-color: #008744 !important;
    line-height: 20px !important;
    text-align: center !important;
    box-shadow: none !important;
}

.nav-icon {
    width: 30px;
    height: 30px;
    margin-top: 9px;
}

.nav-logo {
    margin: auto;
    display: block;
    height: 50px;
    width: 50px;
}

#lblNav {
    color: white;
    font-size: 18px;
}